<%= form_with url: :flights, method: :get, class: "search-form" do |form| %>
  <div class="search-fields">
    <span>
      <%= form.label :departure_airport_id, "Departing" %>
      <%= form.collection_select :departure_airport_id, Airport.order(:name), :id, :name, include_blank: true %>
    </span>

    <span>
      <%= form.label :arrival_airport_id, "Arriving" %>
      <%= form.collection_select :arrival_airport_id, Airport.order(:name), :id, :name, include_blank: true %>
    </span>

    <span>
      <%= form.label :date %>
      <%= form.collection_select :date, Flight.dates, :to_s, ->(date) { date.to_fs(:long) }, include_blank: true %>
    </span>

    <span>
      <%= form.label :passenger_count, "Passengers" %>
      <%= form.number_field :passenger_count, in: 1..4, value: 1 %>
    </span>
  </div>

  <%= form.submit "Search", class: "search-button" %>
<% end %>
