<%= form_with url: :flights, method: :get do |form| %>
  <span>
    <%= form.label :departure_airport_id, "From" %>
    <%= form.collection_select :departure_airport_id, Airport.order(:code), :id, :code, include_blank: true %>
  </span>

  <span>
    <%= form.label :arrival_airport_id, "To" %>
    <%= form.collection_select :arrival_airport_id, Airport.order(:code), :id, :code, include_blank: true %>
  </span>

  <span>
    <%= form.label :date %>
    <%= form.select :date, Flight.dates, include_blank: true %>
  </span>

  <div>
    <%= form.submit "Search" %>
  </div>
<% end %>
